.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  width: 675px;
  height: auto;
  float: left;
  padding: 20px;
  padding-top: 0px;
}

.button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px;
}

.otherinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  float: left;
  height: 100px;
  width: 700px;
  margin-bottom: 3%;
  border-bottom: 4px solid black;
  padding-bottom: 1%;
}

.otherinfo2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  float: left;
  height: 100px;
  width: 700px;
  align-content: center;
  text-align: center;
}

.start-button {
  width: 35%;
  height: 50%;
  margin-left: 8%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 30%;
  background: lightgreen;
  font-size: 2em;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  /* text-shadow: 2px 2px 2px grey; */
  font-family: 'Mali', cursive;
  color: black;
  /* text-shadow: 2px 2px 1px black; */
}

.start-button:hover {
  box-shadow: 5px 5px 15px black;
  background-color: lawngreen;
  transform: translateX(-2px);
}

.start-button:active {
  background-color: lawngreen;
  transform: translateY(4px);
  box-shadow: 10px 10px 15px black;
}

.hard-button {
  width: 35%;
  height: 50%;
  margin-left: 8%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 30%;
  background: lightgreen;
  font-size: 2em;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  /* text-shadow: 2px 2px 2px grey; */
  font-family: 'Mali', cursive;
  color: black;
  /* text-shadow: 2px 2px 1px black; */
}

.hard-button:hover {
  box-shadow: 5px 5px 15px black;
  background-color: lawngreen;
  transform: translateX(-2px);
}

.hard-button:active {
  background-color: lawngreen;
  transform: translateY(4px);
  box-shadow: 10px 10px 15px black;
}

p {
  width: 23%;
  height: 15%;
  margin-top: 8.5%;
  text-align: left;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Mali', cursive;
  text-shadow: 2px 2px 2px grey;
}

.level {
  width: 15%;
}

.level-count {
  width: 2%;
  font-size: 3em;
  margin-top: 4.8%;
  text-align: left;
  color: black;
  font-weight: bolder;
}

.turn-count {
  margin-top: 8.5%;
}

body {
  background: lightblue;
  margin-left: 300px;
  margin-right: 300px;
}

h1 {
  width: 50%;
  height: 30%;
  font-size: 3.2em;
  text-align: right;
  font-family: 'Lobster';
  /* text-decoration: underline; */
  /* text-shadow: 2px 2px 2px grey; */
}

header {
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  bottom: 0;
}

#redButton {
  box-shadow: 3px 3px 10px black;
  background: red;
  /* box-shadow: 3px 3px 3px black; */
}

#redButton:hover {
  box-shadow: 8px 8px 15px black;
  transform: translateY(-8px);
}

#redButton:active {
  transform: translateY(10px);
  box-shadow: inset -5px -5px 60px black;
}

#blueButton {
  box-shadow: 3px 3px 10px black;
  background: blue;
  /* box-shadow: 3px 3px 3px black; */
}

#blueButton:hover {
  box-shadow: 8px 8px 15px black;
  transform: translateY(-8px);
}

#blueButton:active {
  transform: translateY(10px);
  box-shadow: inset -5px -5px 60px black;
}

#greenButton {
  box-shadow: 3px 3px 10px black;
  background: green;
  /* box-shadow: 3px 3px 3px black; */
}

#greenButton:hover {
  box-shadow: 8px 8px 15px black;
  transform: translateY(-8px);
}

#greenButton:active {
  transform: translateY(10px);
  box-shadow: inset -5px -5px 60px black;
}

#purpleButton {
  box-shadow: 3px 3px 10px black;
  background: purple;
  /* box-shadow: 3px 3px 3px black; */
}

#purpleButton:hover {
  box-shadow: 8px 8px 15px black;
  transform: translateY(-8px);
}

#purpleButton:active {
  transform: translateY(10px);
  box-shadow: inset -5px -5px 60px black;
}

#orangeButton {
  box-shadow: 3px 3px 10px black;
  background: orange;
  /* box-shadow: 3px 3px 3px black; */
}

#orangeButton:hover {
  box-shadow: 8px 8px 15px black;
  transform: translateY(-8px);
}

#orangeButton:active {
  transform: translateY(10px);
  box-shadow: inset -5px -5px 60px black;
}

#yellowButton {
  box-shadow: 3px 3px 10px black;
  background: yellow;
  /* box-shadow: 3px 3px 3px black; */
}

#yellowButton:hover {
  box-shadow: 8px 8px 15px black;
  transform: translateY(-8px);
}

#yellowButton:active {
  transform: translateY(10px);
  box-shadow: inset -5px -5px 60px black;
}

@media (max-width: 425px){
  .flex-container {
    width: 700px;
    margin: 0px;
    margin-left: 145px;
    border: 0px;
    padding: 0px;
  }

  .otherinfo2 {
    margin-left: 100px;
    bottom: 0;
    border-top: 4px solid grey;
  }

  .button {
    width: 285px;
    height: 285px;
    margin-left: 20px;
  }

  .start-button {
    border: 0px;
    margin: 0px;
    width: 50%;
    height: 100vh;
    border-radius: 0;
    bottom: 0;
    font-size: 4.5em;
    padding-top: 50px;
  }

  .hard-button {
    border: 0px;
    margin: 0px;
    width: 49%;
    height: 100vh;
    border-radius: 0;
    bottom: 0;
    font-size: 4.5em;
    padding-top: 10px;
  }

  h1 {
    padding-left: 50px;
  }

  p {
    width: 150px;
  }

  body {
  }

  main {
  }
}
